name: Trufflehog

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: UnicornGlobal/trufflehog-actions-scan@master
      with:
        branch: ${{ github.head_ref }}
